<p>Try to remember your password</p>
<div>
					<label>Policy Used on Password Creatation</label>
                    <span>Include Characters : '<%=inchar.e1%>' , '<%=inchar.e2%>'</span><br>
                    <span>Include Symbols : '<%=insym.e1%>' , '<%=insym.e2%>'</span><br>
                    <span>Include Numbers : '<%=innum.e1%>' , '<%=innum.e2%>'</span><br>
                    <span>Avoid Characters  : '<%=avchar.e1%>' , '<%=avchar.e2%>'</span><br>        
</div><br>
<a href="../login">Got to Login </a>

